.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-editor {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
  /* position: absolute; */
}

.header-editor {
  display: flex;
  position: fixed;
  font-size: calc(20px + 2vmin);
  top: 2vh;
  color: white;
}

.content-header{
  min-height: 100vh;
  background-color: #282c34;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.content-body{
  top: 15vh;
  position: fixed;
  color: white;
}

.App-link {
  color: #05afdf;
  background-color: #282c34;
  border-color: #282c34;
  margin-top: 5vh;
  width: 30vh;
}

@keyframes app-logo-move{
  
  from {
    transform: translate(50px,50px);
  }
  to{
    transform: translate(-50px,-50px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
